Pods/
*.xcworkspace
*.xcscmblueprint
*.xccheckout
xcuserdata/

Meli1.xcodeproj/xcuserdata/oswaldogarcia.xcuserdatad/xcschemes/xcschememanagement.plist
Podfile.lock
Meli1.xcworkspace/xcuserdata/oswaldogarcia.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
